.bck-logo{
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-box{
margin-left: 70%;
margin-top: -15%;
}
.css-ahj2mt-MuiTypography-root {
    display: grid;
}
// .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
//     color: #fff !important;
// }