.ReconditionsProperties {
  width: 90%;
  margin: 0 auto;
  background-color: transparent;
}
.recondition-slider-container {
  width: 95%;
  background-color: #fff;
  border-radius: 5%;
  transition: 0.3s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  margin: 2px 0px 2px 0px;
  cursor: pointer;
  height: 283px;
}
.recondition-slider-container:hover {
  box-shadow: 0px 0px 8px rgba(106, 167, 77, 0.8);
}
.recondition-slider-cards {
  background-color: transparent;
}
.recondition-slider-box {
  background-color: transparent;
  border-radius: 5%;
  padding: 0px 10px 0px 10px;
}

.recondition-price-tag {
  position: absolute !important;
  background: #647970;
  border-radius: 0 20px 20px 0;
  color: #ffd194;
  cursor: pointer;
  display: inline-block;
  font-size: 0.876rem;
  height: 31px;
  line-height: 31px;
  margin-top: 45%;
  padding: 0 0.667rem;
  text-align: center;
}

.recondition-card-heading {
  font-weight: 600;
  color: #000000;
  font-size: 13px;
  margin-top: 20px;
}
.recondition-card-text {
  display: flex;
  justify-content: space-between;
  color: #8b8b8b;
  margin-top: -20px;
}

.recondition-prev {
  border: 0.2px solid transparent !important;
  border-radius: 45% !important;
  border: none;
  color: #647970;
  background: #f5faf3 !important;
  cursor: pointer;
}

.recondition-next {
  border: 0.2px solid transparent !important;
  border-radius: 45% !important;
  background: #f5faf3;
  cursor: pointer;

  color: #647970;
}

.recondition-prev:hover {
  transform: scale(1.09);
  transition: 0.2s ease-in-out;
}

.recondition-next:hover {
  transform: scale(1.09);
  transition: 0.2s ease-in-out;
}
