.Exception {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  @media only screen and (min-width: 768px) {
    width: 70%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  @media only screen and (max-width: 430px) {
width: 100%;
  }
}
.Exception-p {
  margin-top: 30px;
  text-transform: uppercase;
  color: #666;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.6px;
}
.Exception-h2 {
  margin-top: 30px;
  color: #001731;
  font-family: FreightBig, Serif, Arial, Sans-Serif;
  font-size: 38px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 44px;
  letter-spacing: 0.8px;
  margin: 0;
  @media only screen and (min-width: 768px) {
    // font-size: 17px;
    // font-weight: bolder;
    font-size: 38px;
    width: initial;
    line-height: 44px;
    letter-spacing: 0.8px;
  }
}
.Exception-p-2 {
  margin-top: 14px;
  color: #666;
}
.Exception-span {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #002349;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  //   font-family: Benton,Arial,Sans-Serif;
}
.Exception-container {
  display: flex;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 430px) {
    display: block;
    width: 70%;
    gap: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (min-width: 768px) {
    display: flex;
    width: 70%;
    gap: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.Exception-img {
  opacity: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0;
  object-position: 0 0;
  transition: opacity 0.4s ease-out;
}

.centerline {
  position: relative;
  left: 50%;
  top: 10%;
  background-color: #c29b40;
  height: 90px;
  width: 1px;
  margin-top: -36px;
}

.Exception-h5 {
  margin-top: 30px;
  color: #002349;
  font-weight: inherit;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0;
}

.Exception-p3 {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  line-height: 24px;
  font-family: Benton-Book, Arial, Sans-Serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0;
  margin: 0;
}
