.city {
  width: 100%;
  margin: 0 auto;
}
.img_banner {
  width: 100%;
  @media screen and (max-width: 425px) {
    height: 18vh !important;
  }
}
.card-list {
  display: flex;
  // width: 95%;
  margin: 0 auto;
  @media screen and (max-width: 1300px) {
    display: block;
    margin-bottom: 40px;
  }
}

.gfg {
  position: relative;
}

.listing-grid {
  grid-template-columns: repeat(3, 1fr);
  padding-top: 40px;
  margin-bottom: 30px;
  gap: 20px;
  padding: 30px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1.5%;

  @media screen and (max-width: 3200px) {
    grid-template-columns: repeat(6, 1fr) !important ;
  }
  @media screen and (max-width: 2300px) {
    grid-template-columns: repeat(4, 1fr) !important ;
  }
  @media screen and (max-width: 1640px) {
    grid-template-columns: repeat(3, 1fr) !important ;
  }
  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr) !important ;
  }
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr) !important ;
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr) !important ;
  }
  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr) !important ;
  }
}

.city-card {
  max-width: 300px !important;
  margin: 0 auto;
  padding: 1.5%;

  @media screen and (max-width: 1200px) {
    max-width: 350px !important;
  }
  @media screen and (max-width: 1024px) {
    max-width: 340px !important;
  }
  @media only screen and (max-width: 768px) {
    max-width: 300px !important;
  }
  @media only screen and (max-width: 425px) {
    max-width: 300px !important;
    margin-bottom: 2%;
  }
  @media only screen and (max-width: 390px) {
    max-width: 290px !important;
    margin-bottom: 2%;
  }
}

.first-txt {
  position: absolute;
  top: 50%;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
}

.side-box {
  position: relative;
  width: 25vw;
  border: 1px solid rgba(0, 0, 0, 0.19);
  height: 300px;
  top: 20px;
  border-radius: 10px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .side-box {
    margin: 0 auto;
    width: 90vw;
  }
  .side-box2 {
    width: 90% !important;
  }
  .side-box3 {
    width: 90% !important;
  }
  .side-box4 {
    width: 90% !important;
  }
}


.side-box- {
  position: relative;
  width: 25vw;
  // border: 1px solid rgba(0, 0, 0, 0.19);
  height: 300px;
  top: 20px;
  border-radius: 10px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .side-box- {
    margin: 0 auto;
    width: 90vw;
  }
  .side-box2 {
    width: 90% !important;
  }
  .side-box3 {
    width: 90% !important;
  }
  .side-box4 {
    width: 90% !important;
  }
}




.side-box2 {
  position: absolute;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: 25px;
}

.side-box3 {
  position: absolute;
  width: 250px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: 25px;
}

.side-box4 {
  position: absolute;
  width: 250px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: 25px;
}

.skeleton-city-card{
  display: flex !important;
  flex-direction: row !important;
  max-width: 300px !important;
  margin: 0 auto;
  padding: 1.5%;

  @media screen and (max-width: 1200px) {
    max-width: 350px !important;
  }
  @media screen and (max-width: 1024px) {
    max-width: 340px !important;
  }
  @media only screen and (max-width: 768px) {
    max-width: 300px !important;
  }
  @media only screen and (max-width: 425px) {
    max-width: 300px !important;
    margin-bottom: 2%;
  }
  @media only screen and (max-width: 390px) {
    max-width: 290px !important;
    margin-bottom: 2%;
  }
}