.product-page-container{ 
    margin: 0 auto;
    width: 100%;
    padding: 0%;
}
.css-2hzjrb-MuiInputBase-input-MuiFilledInput-input{
    background: white !important;
}
.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.MuiSelect-select{
    background: white !important;
}