.homePageInspired {
  position: relative;
  padding-bottom: 15px;
  background-color: #002349;
  width: 100%;
  .grid {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  .container {
    max-width: 1146px;
    margin: 0 auto;
  }
  .homePageInspiredContainer {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    .uTextCenter {
      text-align: center;
    }
    .gridItem {
      display: inline-block;
      padding-left: 0;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      font-size: 15px;
      font-size: 1rem;
      position: relative;
      .homePageInspiredVideo {
        position: relative;
        padding-bottom: 56.25%;
        &::after {
          content: "";
          width: 1px;
          position: absolute;
          background-color: #c29b40;
          left: 50%;
          bottom: -40px;
          height: 80px;
        }
        iframe {
          border: none;
        }
        .iframeComponent {
          width: 100%;
          height: 100%;
        }
        .homePageInspiredVideoIframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .u-color-white {
        color: #fff;
      }
      .container {
        max-width: 1146px;
        margin: 0 auto;
        margin-top: 50px;
        .u-color-grey {
          color: #999;
        }
      }
      .homePageInspiredContent {
        h3 {
          font-family: FreightBig, Serif, Arial, Sans-Serif;
          font-size: 30px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 34px;
          letter-spacing: 1px;
          margin: 0;
        }
        p {
          font-family: Benton-Book, Arial, Sans-Serif;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: 30px;
          letter-spacing: 0;
          margin: 0;
        }
        .homePageInspiredPara {
          font-size: 16px;
          line-height: 2;
          @media screen and (max-width: 1024px) {
            padding-left: 39px;
            padding-right: 39px;
          }
          padding-left: 390px;
          padding-right: 390px;
          padding-top: 10px;
        }
        .inspiredBtn {
          .utextUperCase {
            text-transform: uppercase;
          }
          .btn {
            box-shadow: none;
            box-sizing: content-box;
            cursor: pointer;
            display: inline-block;
      
            font-family: Benton, Arial, Sans-Serif;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1.8px;
            min-width: 180px;
            text-decoration: none;
            line-height: 1;
            padding-top: 17px;
            padding-top: 30px;
            padding-bottom: 0;
            font-size: 13px;
            letter-spacing: 1.4px;
            position: relative;
            &.btnPrimary {
              border-color: transparent;
            }
            .btnContainer {
              display: inline-flex;
              align-items: center;
              .btnIconArrow {
                position: absolute;
                vertical-align: middle;
                cursor: pointer;
                transition: 0.3s ease;
                right: 15px;
              }
            }
            &:hover {
              .btnIconArrow {
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
